[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/parson"]
	path = libs/parson
	url = git@github.com:kgabis/parson.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
